@media screen and (min-width: 768px) {
    body {
        /* background-color: red !important; */
    }

    .menu {
        display: none;
    }

    .logo {
        color: var(--color-primary-1);
        font-size: 1.5rem !important;
        padding: 0 0 0 3rem;
    }

    .nav-bar {
        position: relative;
    }

    nav {
        display: flex !important;
        gap: 2rem;
    }
}
