@import url('./variables.css');
@import url('./desktop.css');
@import url('./tablet.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section,
header,
main,
footer {
    text-align: center;
    padding: calc(16px + 2vw) calc(16px + 1vw);
    padding: calc(16px + 2vh) calc(16px + 1vw);
    /* Example using calc() */
}

a {
    text-decoration: none;
}

img,
svg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

body {
    /* Landing Page */

    position: relative;
    max-width: 1440px;
    max-height: 4556px;

    /* Background */
    background: var(--color-default);

}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1440px;
    height: 842px;
    position: relative;
    color: var(--color-white);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem !important;
    /* overflow: hidden; */
    z-index: 10;
    background-color: var(--color-default);
}

.menu {
    width: 2rem;
}

nav {
    display: none;
}

nav a {
    color: var(--color-black-2);
    position: relative;
}

nav a.active {
    color: var(--color-primary-2);
}

.dropdownMenu {
    position: absolute;
    /* Absolute positioning for flexible placement */
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    /* Hide initially */
}

.dropdownMenu li {
    list-style: none;
    /* Remove default bullet points */
    margin: 0;
    padding: 5px;
}

.dropdownMenu a {
    text-decoration: none;
    color: black;
}

.logo {
    color: var(--color-primary-1);
    font-size: 1rem;
}

.hero {
    flex: 1;
    text-align: center;
    background-image: url('../assets/hero.png');
    background-repeat: no-repeat;
    background-color: red;
    align-self: normal;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: top;
    margin-top: 2rem;
    /* color: #45629780; */
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.3rem;
}

.hero p {
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 0.3rem;
}

.hero .cta {
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    background-color: var(--color-primary-1);
    color: var(--color-white);
    border: none;
    border-radius: 0.3rem;
}

.mast {
    background-color: var(--color-primary-1);
    position: absolute;
    top: 752px;
    width: 93.5%;
    height: 225px;
    /* left: 80px;
right: 80px; */
    text-align: center;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 15px;
    margin: 0 auto;
}

/* MAIN */
.feature-section {
    color: var(--color-black-1);
    height: 861px;
    text-align: center;
    position: relative;
}

.feature-section h2 {
    padding-top: 10rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 48px;
}

.feature-card {
    margin-top: 2rem;
    height: 499.44px;
    display: flex;
    gap: 1rem;
    flex: 1;
}

.feature-card>div {
    /* display: block; */
    flex: 1 0 50%;
    text-align: left;
}

/* .feature-card>div:first-child {
    background-color: blue !important;
    position: relative;

    div {

        position: absolute;
        width: 640px;
        width: 100%;
        height: 352.62px;
        left: 0px;
        top: 0px;

        background: transparent;
        border: 2px solid black;
        border-radius: 13.8829px;

    }
}

.feature-card>div:first-child>div:nth-child(2) {
    position: absolute;
    width: 440.43px;
    width: 100%;
    height: 239.83px;
    left: 98.22px;
    top: 259.61px;
    z-index: 3;

    background: transparent;
    background: #000;
    border-radius: 10.4121px;
}

.feature-card>div:first-child>div:last-child {
 

    position: absolute;
    width: 440.43px;
    height: 239.83px;
    left: 98.22px;
    top: 259.61px;

    background: transparent;
    border-radius: 10.4121px;

} */

.feature-card>div:last-child {
    text-align: left;
    padding: 3rem 2rem;
    height: 100%;
}

.feature-card>div:last-child>* {
    padding: 1rem;
}

.feature-card>div:last-child h3 {
    font-size: 2rem;
}

/* News Section */
.news-section {
    background-color: var(--color-news-section);
    background-color: #a4ccfc;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
}

.card {
    flex: 1 0 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.card>span {
    align-self: flex-start;
    font-weight: 700;
    background-color: burlywood;
    padding: 1rem 2rem;
}

.card a {
    /* background-color: blue; */
    align-self: flex-start;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border: 1px currentColor solid;
    color: var(--color-primary-1);
}

.card-content p {
    padding: 1rem 0;
}

.card-content p:first-child,
.card-content p:nth-child(2) {
    color: blue;
    border-bottom: 1px var(--color-primary-1) solid;
}

/* About us section */
.about-us-section {
    /* display: flex; */
    position: relative;
}

.about-us-section>div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    padding: 1rem;
}

.about-us-section .image-container {
    position: relative;
    flex: 1 0 50%;
    margin-left: 1rem;
    padding-left: 1rem;
}

.about-us-section>div>div>div:first-child {
    background-color: var(--color-primary-1);
    position: absolute;
    height: 324px;
    top: 1rem;
    z-index: -1;
    width: calc(100% - 1rem);
    border-bottom-left-radius: 6rem;
}

.about-us-section .image-container div:last-child {
    height: 324px;
    margin-left: 1rem;
    width: 100%;

    img {
        border-bottom-left-radius: 5rem;
    }
}

/* Contact form section */
input {
    width: 100%;
    /* max-width: 724px; */
    max-width: 540px;
    padding: 12px 20px;
    /* margin: 8px 0; */
    margin: 1rem auto;
    /* display: inline-block; */
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--color-primary-1);
    color: var(--color-white);
}

/* button[type=submit]:hover {
    background-color: #45a049;
} */

/* Footer */
footer {
    height: 248px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--color-footer);
    color: var(--color-white)
}

footer>div:last-child {
    display: flex;
    gap: 1rem;
}

footer .logo {
    color: var(--color-white);
}

/* News Page */
body {
    /* background-color: blue; */
}

.news-header {
    height: calc(70vh + 1rem);
    height: unset;
    padding: 3rem;
    /* background-color: red; */
    overflow: hidden;
}

.news-page-hero {
    width: 100%;
    position: relative;
    justify-content: center;
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    height: 22rem;
}

.news-page-hero>div {
    position: absolute;
    height: 10rem;
    top: 0;
    border-radius: 1rem;
    padding: 10rem !important;
}

.news-page-hero div:nth-child(1) {
    z-index: 1;
}

.news-page-hero div:nth-child(2),
.news-page-hero div:nth-child(3) {
    width: 80%;
    background-color: #C6D3EC;
    top: 2rem;
}

.news-page-hero div:nth-child(2) {
    background-color: #8CA8D9;
    width: 90%;
}

.news-page-hero div:nth-child(3) {
    z-index: -4;
    top: 4rem;
}

.news-mast {
    width: 100%;
    background-color: var(--color-primary-1);
    background-image: url('../assets/news-mast-bg.png');
    position: static;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 3rem;
    justify-content: center;
}

.news-search-div {
    width: 50rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;

    span {
        display: block;
        /* border: 1px var(--color-primary-1) solid; */
        padding: 0.7rem 0.5rem;
        border-radius: 0.4rem;
        background-color: var(--color-news-section);
        background-blend-mode: multiply;
    }

    .active {
        border: 1px var(--color-primary-1) solid;
    }
}

.news-card {
    height: 643px;
    /* width: 100%; */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: linear-gradient(178.54deg, rgba(255, 255, 255, 0.1) 0.32%, rgba(28, 60, 97, 0.5) 83.44%);
    background-image: url('../assets/new-page-image-1.png');
}

.news-card>.arrow-up-right {
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(100% - 3rem);
    top: 2em;

    svg {
        fill: red
    }
}

.news-card>.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(100% - 3rem);
    bottom: 2em;

    svg {
        fill: red;
    }
}

.news-card>.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.5rem;

    position: absolute;
    width: 85%;
    left: 4%;
    top: 63%;
}

.texts {
    text-align: left;

    span {
        font-family: 'Be Vietnam Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        color: #FFFFFF;
    }

    h3 {
        font-family: 'Be Vietnam Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;

        color: #FFFFFF;
    }

    p {
        font-family: 'Be Vietnam Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #FFFFFF;
    }
}

.news-cards {
    margin-top: 3rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    /* grid-auto-rows: minmax(100px, 300px); */
    /* background-color: red !important;
    margin-block: 3.5rem;
    padding: 2rem; */
    /* height: auto; */

    .news-card {
        height: auto;
        min-height: 30rem;
        max-height: 100%;
        padding: 2rem;

        .texts {
            top: 30%;
        }
    }
}

.news-cards>div:nth-child(odd) {
    background-image: url('../assets/chef-pots.png');
}

.news-cards>div:nth-child(even) {
    background-image: url('../assets/cards.jpeg');
}

.news-cards {
    .card-1 {
        grid-area: 1/1/2/7;
        /* height: 30rem; */
        /* height: 35rem; */
    }

    .card-2 {
        grid-area: 1/span 4;
    }

    .card-3 {
        grid-area: 2/span 4;
    }

    .card-4 {
        grid-area: 2/5/3/11;
    }
}

.personal-growth-section {

    /* background-color: red;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; */
    .card {
        max-width: 30rem;
    }

    .card-content,
    .card-content>p {
        color: var(--color-black-3);
    }

    .card-content>* {
        padding: 1rem 0;
    }

    .card-content h3 {
        /* //styleName: 20/md; */
        font-family: Be Vietnam Pro;
        font-size: 20px;
        font-weight: 500;
        line-height: 25.3px;
        text-align: left;

    }

    .card-content>p {
        /* //styleName: 16/R; */
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.24px;
        text-align: left;

        border-bottom: none;
    }
}

.card-meta-data {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    /*styleName: 16/Md; */
    font-family: Be Vietnam Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.24px;
    text-align: left;

}

.author-image {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

/* News Page */
.back-to-features {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.back-to-features>div:first-child {
    width: 1rem;
    aspect-ratio: 1/1;
    display: inline-block;
}

.feature-meta {
    display: flex;
    flex-flow: column;
    text-align: left;

    gap: 1rem;
}

.feature-meta>span {
    background-color: red;
    padding: 1rem 0.5rem;
    align-self: flex-start;
    color: var(--color-primary-1);
    border: 1px currentColor solid;
    background-color: #CBD9F1;
}

.feature-meta>h3 {
    /* align-self: flex-start; */
    font-weight: 500;
}

.feature-news-mast {
    aspect-ratio: 4/1;
    border-radius: 3rem;

    img {
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem;
    }
}

.article-text {
    text-align: left;

    article>* {
        padding: 1.2rem 0;
        font-family: Be Vietnam Pro;
    }

    article h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 30.36px;

    }

    article p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.24px;

    }
}

.featured-news section:last-child {
    /* background-color: red; */
    text-align: left;

    .card-content p:nth-child(2) {
        border-bottom: none;
        color: unset;
    }
}

/* Partners */
.partners-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    p {
        /* //styleName: 20/R; */
        font-family: Be Vietnam Pro;
        font-size: 20px;
        font-weight: 400;
        line-height: 25.3px;
        text-align: center;

    }
}

.partner-images {
    display: flex;
    flex-wrap: wrap;
    /* align-items: normal; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 511px;
    /* padding: 1rem; */
    /* background-color: red; */
}

.partner {
    flex: 1 0 30%;
    max-width: 18rem;
    overflow: hidden;
    height: 70%;
    border-radius: 3rem;

    /* height: 30rem; */
    /* max-height: 70%; */
    img {
        /* height: 70%; */
        object-fit: cover;
    }
}

.partner-images> :nth-child(odd) {
    align-self: baseline;
}

.partner-images> :nth-child(even) {
    align-self: flex-end;
}

/* Services */
.services-banner {
    display: flex;
    align-items: center;
    z-index: -1;
    position: relative;
}

.services-banner>div {
    position: absolute;
    width: 10%;
    height: 1rem;
    z-index: -1
}

.services-banner>div:nth-child(1) {
    background-color: #8CA7D9;
    top: 0;
}

.services-banner>div:nth-child(2) {
    background-color: var(--color-primary-1);
    bottom: 0;
    width: 40%;
    z-index: 4;
}

.services-banner>div:nth-child(3) {
    right: 10%;
    top: 0;
    height: 50%;
    min-height: 10%;
    background-color: var(--color-primary-1);
}

.services-banner>div:nth-child(4) {
    right: 10%;
    height: 8%;
    width: 8%;
    top: 50%;
    height: 50%;
    background-color: #C5D3EC;
}

.services-banner>div:nth-child(5) {
    right: 0;
    top: 0;
    height: 100%;
    min-height: 10%;
    background-color: #8CA7D9;
}

.services-banner>div:nth-child(6) {
    position: static;
    padding: 3rem 3rem 3rem 0;
    width: unset;
    height: unset;
    text-align: left;

    p {
        width: 80%;
        padding: 1rem 1rem 1rem 0;
        /* //styleName: 36/Md; */
        font-family: Be Vietnam Pro;
        font-size: 36px;
        font-weight: 500;
        line-height: 45.54px;
        text-align: left;

    }
}

.services-banner h3 {
    /* //styleName: 36/Md; */
    font-family: Be Vietnam Pro;
    font-size: 36px;
    font-weight: 500;
    line-height: 45.54px;
    text-align: left;
    color: var(--color-black-1);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper>div:nth-child(even) {
    flex-direction: row-reverse;
}

.services-card {
    display: flex;
    gap: 1rem;
    /* max-height: 10rem; */
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .card-text {
        flex-basis: 50%;
        text-align: left;

        h3 {
            padding: 1rem 0;
            /* //styleName: 30/Md; */
            font-family: Be Vietnam Pro;
            font-size: 30px;
            font-weight: 500;
            line-height: 37.95px;
            text-align: left;

        }

        p {
            /* //styleName: 16/R; */
            font-family: Be Vietnam Pro;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.24px;
            text-align: left;

        }
    }

    .card-image {
        flex-basis: 50%;
        height: 21rem;
        /* border-radius: 1rem; */

        img {
            border-radius: 1rem;
        }
    }
}

/* Events */

.events>div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    margin-bottom: 1rem;
}

.bi-arrow-right-circle {
    width: 3rem;
}

.events-mast {
    padding: 3em 5em;
    /* //styleName: 48/Med; */
    font-family: Be Vietnam Pro;
    font-size: 48px;
    font-weight: 500;
    line-height: 60.72px;
    text-align: center;
    color: #FFFFFF;
    background-color: #45629780;
}

.upcoming-events {
    justify-content: center;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: hidden;
    /* display: block; */
    /* background-color: blue; */
}

.upcoming-events>div:nth-child(even) {
    flex-direction: column;
}

.events-card,
.events-card-display {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;
    color: var(--color-grey);
    border-radius: 1rem;
}

.events-card {
    padding: unset;
    gap: 1rem;
    flex: 1 0 30%;
    max-width: 30%;
}

.events-card-display {
    min-height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* mix-blend-mode: multiply; */
    /* background-blend-mode: multiply; */
    background-image: url('../assets/food.png');
}

.events-card-display>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.events-card-display>div>div {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    /* background-color: blue; */
}

.events-card-display>div:first-child>* {
    padding: 1rem;
}

.events-card-display>div:last-child {
    align-items: flex-start;
    flex-direction: column;

    div {
        display: flex;
        align-items: flex-start;
        align-items: center;
    }
}

.date {
    color: var(--color-black-2);
    border-radius: 0.4rem;
    background-color: var(--color-background) !important;
}

.arrow-up-right {
    color: var(--color-white);
}

.view-event {
    display: block;
    padding: 1rem;
    border: 1px currentColor solid;
    border-radius: 1rem;
    color: var(--color-primary-1);
    /* background-color: red; */
}

.bi-clock {
    width: 1em;
}

/* Events Opened */
.events-open-main {
    text-align: left;
    display: flex;
    flex-direction: column;

    /* a {
        text-align: left;
    } */
    svg {
        width: 1rem;
    }
}

.events-open-main>a,
.events-open-main>h2 {
    /* padding: 2rem 2rem 2rem 0; */
    padding: 1rem 1rem 1rem 0;
    /* background-color: red; */
}

.events-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    h3 {
        padding-bottom: 1rem;
        padding-bottom: 3rem;
    }

    h3,
    p {
        text-align: left;

    }
}

.events-wrapper .card-content div {
    padding: 1rem 0;
}

.events-wrapper>div {
    display: flex;
}

.events-wrapper>div:first-child {
    grid-area: 1/1/-2/5;
    grid-area: 1/1/9/5;
    /* height: 3rem; */
}

.events-wrapper>div:nth-child(2),
.events-wrapper>div:nth-child(3) {
    flex-flow: column;
}

.events-wrapper>div:nth-child(2) {
    grid-area: 1/5/6/-1;
}

.events-wrapper>div:nth-child(3) {
    grid-area: 6/5/-1/-1;
}

.image-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: blanchedalmond;

    div {
        border-radius: 1rem;
        flex-basis: 32%;
        max-width: 35%;
    }
}

.image-cards img {
    border-radius: 1rem;
}

.job-mast {
    background-color: var(--color-primary-1);
    padding: 3rem;
    text-align: right;
    display: flex;
}

.job-mast>div {
    width: 50%;
    flex-basis: 50%;
}

.job-mast>div:first-child {
    background-color: red;
}

.job-mast h2 {
    padding: 2rem;
}

.job-mast p {
    position: relative;
    padding: 1em;
    padding: 4rem;
    background-color: white;
}

.job-mast p::before {
    content: url('../assets/quote-right.svg');
    position: absolute;
    width: 4rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
}

.job-mast p::after {
    content: url('../assets/horizontal-line.svg');
    position: absolute;
    width: 4rem;
    width: 70%;
    height: 0.2rem;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
    /* transform: translate(-50%, 0); */
}

/* .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(100% - 3rem);
    bottom: 2em;

    svg {
        fill: red;
    }
} */
/* Mobile Styles (Up to 575px) */
/*@media (max-width: 575px) {
    .heading {
        font-size: 1.5rem;
        Adjust font size for mobile
    }

    .content {
        padding: 16px;
        Increase padding for better readability
    }
}*/
.hidden {
    display: none !important;
    /* visibility: hidden; */
}
