:root {
    --color-white: #F5F5F5;
    --color-primary-1: #365DA3;
    --color-primary-2: #456297;
    --color-primary-3: #7D97C4;
    --color-black-1: #262626;
    --color-black-2: #404040;
    --color-black-3: #595959;
    --color-grey: #D9D9D9;
    --color-background: #E3E9F2;
    --color-default: #EBEBEB;
    --color-footer: #101C32;
    --color-news-section: #A4CCFC;
}
